<h1><%= @title %></h1>

<%= render @header %>
<br />
<hr/>

<table width="60%">
    <tbody>
    
    <% @node_select.each do |node| %>                      
          <tr>
            <td><%= node.nodeID %></td>
            <td><%= node.url_label %></td>
            <td><%= node.hidden %></td>
            <td><%= node.dg %></td>
            <td><%= Theme.where(node_id: node.id).count %></td>
            <td><%= link_to 'selection', themes_path(node.id) %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<br /> <br/ >
<% if @title == "Node listing" %>
<%= paginate @node_select, :params => {:controller => 'nodes', :action => 'index'} %>
<% end %>