<% if @title.present? %>
<b><%= @title.upcase %></b>
<% end %>
<hr/>
<% if current_user.dg == "all" %>
<p align="right"><%= link_to "New Node", new_node_path(@last), class: "button alert" %></p>
<% end %>

<table role="grid" width="100%">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Url Tag</th>
      <th>Hidden</th>
      <th>DG</th>
      <th>Update group</th>
      <th>Number objects</th>
      <th>Link to objects</th>
      <th>Delete</th>
      
    </tr>
    </thead>

    <tbody>
    <% @node_select.each do |node| %>
          <tr>
            <td><%= node.nodeID %></td>
            <td><%= node.url_label %></td>
            <td><%= node.hidden %></td>
            <td><%= node.dg %></td>
			<% unless node.group.nil? %>
            <td><%= link_to node.group, edit_node_path(node) %></td>
            <% else %>
            <td><%= link_to "-", edit_node_path(node) %></td>
			<% end %>
			      <td><%= Theme.where(node_id: node.id).count %></td>
            <td><%= link_to 'selection', node_themes_path(node.id) %></td>
            <td><%= link_to(image_tag("red.png"), delete_node_path(node), method: :delete, data: { confirm: 'Make sure this node is empty before proceding?'}) unless node.id == 0 %></td>  
         </tr>
         
    <% end %>
  </tbody>
</table>
<br /> <br/ >
<%= paginate @node_select, :params => {:controller => 'nodes', :action => 'index'} %>
