<% if @title.present? %>
<b><%= @title.upcase %></b>
<% end %>
<hr/>
<% if current_user.dg == "all" %>
<p align="right"><%= link_to "New Node", new_node_path(@last), class: "button alert" %></p>
<% end %>


<table role="grid" width="100%">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Url Tag</th>
      <th>Hidden</th>
      <th>DG</th>
      <th>Menu Link</th>
      <th>Associated themes</th>
      <th>Associated documents</th>
      <th>Associated contacts</th>
      <th>Delete</th>
      
    </tr>
    </thead>

    <tbody>
    <% @node_select.each do |node| %>
          <tr>
            <td><%= node.nodeID %></td>
            <td><%= node.url_label %></td>
            <td><%= node.hidden %></td>
            <td><%= node.dg %></td>
            <% unless Menu.find_by(node_id: node.id).blank? %>
            <td><%= Menu.find_by(node_id: node.id).title %></td>
            <% else %>
            <td>-</td>
            <% end %>        
            <td><%= link_to 'selection themes', node_themes_path(node.id) %> (<%= Theme.where(node_id: node.id).count %>)</td>
            <td><%= link_to  'selection documents', documents_node_path(node) %> (<%= Document.where(xwebsitesection: node.nodeID).count %>)</td>
            <% unless Contact.where(node_id: node.nodeID).blank? %>
            <td><%= link_to  'contacts', "/editor" + contacts_node_path(node) %></td>
            <% else %>
            <td>default</td>
            <% end %>
            <td><%= link_to(image_tag("red.png"), delete_node_path(node), method: :delete, data: { confirm: 'Make sure you this node is empty before proceding?'}) unless node.id == 0 %></td>  
         </tr>
      <% end %>
  </tbody>
</table>
<br /> <br/ >
<%= paginate @node_select, :params => {:controller => 'nodes', :action => 'index'} %>