<% i = 0 %>
<div class="tabs-content">
  <% @themes.each do %>
  <div class="content <%= 'active' if i == 0 %>" id="panel<%=i+1%>">
  <%= link_to "Edit theme", "/editor"  + update_theme_path(@themes[i]), id: "edit_link", data: {save_url: mercury_update_theme_path(@themes[i])}, class: "button tiny secondary" %>
    <%= link_to "Edit Metadata", update_metadatum_path(@themes[i]), class: "button tiny secondary" %>
 <br />
  <p>Content title: <%= @themes[i].metadata.title %></p>
  <div class="panel">
  <div> <%= raw @themes[i].html_content %></div>
  </div>
  </div>
<% i += 1%>
<% end %>
 </div>