<h1>Listing themes </h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Language</th>
      <th>DG</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
   
    <% if theme.id.nil? == false and theme.html_content.nil? == false %>                        
          <tr>
            <td><%= theme.contentID %></td>
            <td><%#= theme.metadata.title %></td>
            <td><%#= theme.metadata.language %></td>
            <td><%= theme.node.dg %></td>
            <td><%= link_to 'Show', theme_path(theme) %></td>
            <td><%= link_to 'Edit', "/editor"  + update_path(theme), id: "edit_link", data: {save_url: mercury_update_theme_path(theme)}  %></td>
          <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Theme",  redirect_path(@id) %> | <%= link_to "Back to Node list", nodes_path %>
