<h1>Listing themes </h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Language</th>
      <th>DG</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
    <% if theme.id.nil? == false and theme.html_content.nil? == false %>
      <% @node_id = Node.find_by(:nodeID => theme.nodeID) %>
      <% @meta_content_id = Metadata.find_by(:contentID =>  theme.contentID) %>
               
          <tr>
            <td><%= @meta_content_id.title %></td>
            <td><%= @meta_content_id.language %></td>
            <% if @node_id.nil? == false %> 
            <td><%= @node_id.dg %></td>
            <% end %>
            <td><%= link_to 'Show', theme_path(theme) %></td>
            <td><%= link_to 'Edit', "/editor"  + update_path(theme), id: "edit_link", data: {save_url: mercury_update_theme_path(theme)}  %></td>
          <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Theme",  redirect_path(@id) %>
