<h1>Listing themes </h1>
<p align="right"><%= link_to "Create new Theme",  redirect_theme_path(@id), class: "button alert" %></p>
<p id="notice"><font color='red'><%= notice %></font></p>
<table role="grid" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Language</th>
      <th>DG</th>
      <th colspan="3"></th>
      <th>Word count</th>
     </tr>
  </thead>

  <tbody>

     <% @themes.each do |theme| %>
        <% if theme.id.nil? == false and theme.html_content.nil? == false %>
            <tr>
                <td><%= theme.contentID %></td>
                <td><%= theme.metadata.title %></td>
                <td><%= theme.metadata.language %></td>
                <td><%= theme.node.dg %></td>
                <td><%= link_to 'Show', show_theme_path(theme) %></td>
                <td><%= link_to 'Edit', "/editor"  + update_theme_path(theme), id: "edit_link", data: {save_url: mercury_update_theme_path(theme)}  %></td>
              <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= WordsCounted.count(ActionView::Base.full_sanitizer.sanitize(theme.html_content)).word_count %>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<ul class="tabs" data-tab >
    <%= render 'tabs' %>
</ul>
<div class="tabs-content">
    <%= render 'html_content' %>
</div>

<br>
<% if session[:my_previous_url].include? 'nodes/search'%>
<%= link_to "Back", simple_search_nodes_path, method: :get, class: "button secondary"  %>
<% elsif %>
<%= link_to "Back", session[:my_previous_url], class: "button secondary"  %>
<% end %>

