<h1>New Theme</h1>
    <div>Titre</div><br>
    <div id="metadata_title" data-mercury="simple">
      <%= @theme.metadata.title  %>
    </div>
    <div>Description</div><br>
    <div id="metadata_description" data-mercury="simple">
      <%= @theme.metadata.description %>
    </div>
    <div>Mots-clés</div><br>
    <div id="metadata_keywords" data-mercury="simple">
      <%= @theme.metadata.keywords %>
    </div>
    <div>Langue</div><br>
    <% if @theme.metadata.language.nil? %>   
    <%= select_tag "language",  options_for_select(["fr", "nl", "de", "en"]), :prompt => "-- Langage --", :id => "lang_select" %>
    <% end %>
    <%= @theme.metadata.language %>


<div>Contenu</div><br>
  <div id="theme_content" data-mercury="full">
    <%= raw @theme.html_content %>
  </div>

<div>Node</div><br>
  <% if @theme.node_id.nil? %>
  <%= collection_select(:node, :id, Node.all, :id, :url_label, {:prompt => "-- Select a category --"}, {:id => 'node_select'}) %>
  <% else %>
  <%= @theme.node.url_label %>
  <% end %>

<script>
jQuery(parent).trigger('initialize:frame');
</script>

<br>
<hr /><br>
<%= link_to 'Back', root_path %>