<% unless @theme.html_content.nil? %> 
<h1>New Theme (preview)</h1>
<p><b>Title:</b> <%= @theme.metadata.title  %></p>
<p><b>Description:</b>  <%= @theme.metadata.description %></p>
<p><b>Keywords:</b> <%=  @theme.metadata.keywords %></p>
<p><b>Language:</b> <%=  @theme.metadata.language %></p>
<p><b>Node:</b> <%= @theme.node.nodeID unless @theme.node.nil? %> | <%= @theme.node.url_label unless @theme.node.nil? %>
<p><%= link_to 'Show', show_theme_path(@theme) %> | <%= link_to 'Edit', "/editor"  + update_theme_path(@theme), id: "edit_link", data: {save_url: mercury_update_theme_path(@theme)}  %></p>

<% else %>
<h1>New Theme</h1>
<ul class="accordion" data-accordion>
   <li class="accordion-navigation">
     <a href="#panel1a">Content</a>
     <div id="panel1a" class="content active">
      <div id="theme_content" data-mercury="full">
      <%= raw @theme.html_content %>
      </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Metadata</a> 
    <div id="panel2a" class="content">

              <b>Title</b><br>
              <div id="metadata_title" data-mercury="full">
                <%= @theme.metadata.title  %>
              </div>

              <b>Description</b><br>
              <div id="metadata_description" data-mercury="full">
                <%= @theme.metadata.description %>
              </div>

              <b>Keywords</b><br>
              <div id="metadata_keywords" data-mercury="full">
                <%= @theme.metadata.keywords %>
              </div>

              <div><b>Language</b></div><br>
              <% if @theme.metadata.language.nil? %>
              <%= select_tag "language",  options_for_select(["fr", "nl", "de", "en"]), :prompt => "-- Langage --", :id => "lang_select" %>
              <% end %>
              <%= @theme.metadata.language %>

             <div><b>Node</b></div><br>
            <% if @theme.node_id.nil? %>
            <%= collection_select(:node, :id, Node.all, :id, :url_label_and_dg,  {:prompt => "-- Select a Node --"}, {:id => 'node_select'}) %>
            <% else %>
            <%= @theme.node.url_label %>
            <% end %>
    </div>
  </li>
</ul>

<% end %> 

<script>
jQuery(parent).trigger('initialize:frame');
</script>

<% unless @theme.node_id.nil? %>
<%= link_to 'Back', node_themes_path(@theme.node_id) %>
<% end %>

