<div class="field">
  <%= f.attribute_fields do |a| %>
  <%= a.attribute_select  associations: [:node, :metadata]%>
  <% end %>
  <%= f.predicate_select only: %i(cont not_cont eq not_eq), compounds: false %>
  <%= f.value_fields do |v| %>
	<%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>