<h1>Advanced Search</h1>
<div><%= link_to "Home", root_path %></div>
<br />

  
	  <%= search_form_for @q, url: search_searches_path, method: :post do |f| %>
 	  <%= f.condition_fields do |c| %>
  	  <%= render "condition_fields", f: c%>
  	  <% end %>
  	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	  	  
  	  <div class="actions"><%= f.submit "Search", class: "button radius"  %>
  	  <%= link_to "Clear Search", request.path, class: "button secondary" %></div>
     <% end %>

<table role="grid" width="100%">
  <thead>
    <tr>
      <th>Theme ID</th>
      <th>Node ID</th>
      <th>Dg</th>
      <th>Theme Title</th>
      <th>Theme keywords</th>
      <th colspan="3"></th>
      <th>Node actions</th>
      
     </tr>
    </thead> 
  
  <tbody>
    <% @search.each do |t| %>      
        <tr>
          <% unless t.metadata.nil? or t.node.nil?%>
          <td><%= t.contentID %></td>
          <td><%= t.node.nodeID %></td>
          <td><%= t.node.dg %></td>
          <td><%= t.metadata.title %></td>
          <td><%= t.metadata.keywords %></td>
          <td><%= link_to "Edit content", "/editor"  + update_path(t), id: "edit_link", data: {save_url: mercury_update_theme_path(t)}   %></td>
		      <td><%= link_to "Show content", theme_path(t)  %></td>
          <td><%= link_to "Show original", search_original_path(t.contentID) %></td>
          <td><%= link_to "Go to node", root_path + "themes/#{t.node.id}/index" %></td>
          <% end %>
        </tr>
		   
    <% end %>
  </tbody>
</table>
