<table>
  <tbody>

     <% @themes.each do |theme| %>
            <tr>
                <td><%= theme.contentID %></td>
                <td><%= theme.metadata.title %></td>
                <td><%= theme.metadata.language %></td>
                <td><%= theme.metadata.description %></td>
                <td><%= theme.metadata.keywords %> </td>
                <td><%= theme.node.nodeID %> </td>
                <td><%= theme.node.url_label %></td>
                <td><%= link_to 'Edit', edit_user_path(theme)  %></td>
            </tr>
    <% end %>
  </tbody>
</table>