<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FPS | #{@title}" %></title>

  	
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= stylesheet_link_tag    "application",  media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<nav class="top-bar">
  
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li> <%= link_to "Show all nodes", nodes_path("all") %></li>
      <li class="divider"></li>
      <li><%= link_to "DG-GS", nodes_path("dg-gs") %></li>
       <li class="divider"></li>
      <li><%= link_to "DG4", nodes_path("dg4") %></li>
      <li class="divider"></li>
      <li><%= link_to "DG5", nodes_path("dg5") %> </li>
      <li class="divider"></li>
      <li><%= link_to "MEDEX", nodes_path("medex") %> </li>
      <li class="divider"></li>
      <li><%= link_to "SHC", nodes_path("shc") %></li>
      <li class="divider"></li>
      <li><%= link_to "COM/PO", nodes_path("com-po") %> </li>
      <li class="divider"></li>
      <li><%= link_to "Simple Search", simple_search_path, method: :get %> </li>
      <li class="divider"></li>
      <li><%= link_to "Advanced Search", search_path, method: :get %> </li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-12 columns"><%= yield %></div>
</div>    
    <%= javascript_include_tag "application" %>
  </body>
</html>
